.version.about_us /* version checker */
{
	color: #0000EA;
	background-color: #EE0383;
}

.html
{
	background: #291E2E url("../images/m4a4.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #888163;
	background-color: #3A364B;
	background-color: rgba(21,16,41,0.84);
	margin-left: auto;
	margin-right: auto;
}

#page::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: inset 0px 0px 67px rgba(205,122,73,0.26), inset 0px 0px 67px rgba(205,122,73,0.26);
	top: 36px;
	bottom: 36px;
	width: 960px;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 426px;
	width: 0.01px;
}

#menuu306
{
	z-index: 2;
	width: 916px;
	margin-left: 20px;
}

#u314
{
	width: 227px;
	min-height: 54px;
	margin-right: -10000px;
}

#u315
{
	width: 227px;
	padding-bottom: 18px;
}

#u315:hover
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u315:active
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u328
{
	width: 227px;
	min-height: 54px;
	margin-right: -10000px;
	left: 229px;
}

#u329
{
	width: 227px;
	padding-bottom: 18px;
}

#u315.MuseMenuActive,#u329:hover
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u329:active
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u329.MuseMenuActive
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u316-4_clip,#u331-4_clip
{
	width: 227px;
	height: 36px;
}

#u321
{
	width: 228px;
	min-height: 54px;
	margin-right: -10000px;
	left: 458px;
}

#u322
{
	width: 228px;
	padding-bottom: 18px;
}

#u322:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u322:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u307
{
	width: 228px;
	min-height: 54px;
	margin-right: -10000px;
	left: 688px;
}

#u308
{
	width: 228px;
	padding-bottom: 18px;
}

#u322.MuseMenuActive,#u308:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u308:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u308.MuseMenuActive
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u325-4_clip,#u311-4_clip
{
	width: 228px;
	height: 36px;
}

#u316-4,#u331-4,#u325-4,#u311-4
{
	margin-right: -10000px;
	top: 9px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

