#menuu371
{
	border-color: #000000;
	background-color: transparent;
}

#u380
{
	border-color: #3F0000;
	background-color: #6D1C24;
	border-radius: 6px;
}

#u380:hover
{
	background-color: #B2305D;
}

#u381
{
	vertical-align: top;
	background: url("../images/u381.png") no-repeat 0px 0px;
}

#u380.MuseMenuActive #u381
{
	background: url("../images/u381-a.png") no-repeat 0px 0px;
}

#u394
{
	border-color: #3F0000;
	background-color: #6D1C24;
	border-radius: 6px;
}

#u380.MuseMenuActive,#u394:hover
{
	background-color: #B2305D;
}

#u396
{
	vertical-align: top;
	background: url("../images/u396.png") no-repeat 0px 0px;
}

#u394.MuseMenuActive #u396
{
	background: url("../images/u396-a.png") no-repeat 0px 0px;
}

#u387
{
	border-color: #3F0000;
	background-color: #6D1C24;
	border-radius: 6px;
}

#u394.MuseMenuActive,#u387:hover
{
	background-color: #B2305D;
}

#u390
{
	vertical-align: top;
	background: url("../images/u390.png") no-repeat 0px 0px;
}

#u387.MuseMenuActive #u390
{
	background: url("../images/u390-a.png") no-repeat 0px 0px;
}

#u379,#u393,#u386,#u372
{
	background-color: transparent;
}

#u373
{
	border-color: #3F0000;
	background-color: #6D1C24;
	border-radius: 6px;
}

#u387.MuseMenuActive,#u373:hover
{
	background-color: #B2305D;
}

#u373.MuseMenuActive
{
	background-color: #B2305D;
}

#u376
{
	vertical-align: top;
	background: url("../images/u376.png") no-repeat 0px 0px;
}

#u373.MuseMenuActive #u376
{
	background: url("../images/u376-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

