#menuu134
{
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u138
{
	border-color: #3F0000;
	background-color: #6D1C24;
	position: relative;
}

#u138:hover
{
	background-color: #999999;
}

#u138:active
{
	background-color: #6B6B6B;
}

#u190
{
	border-color: #3F0000;
	background-color: #6D1C24;
	position: relative;
}

#u138.MuseMenuActive,#u190:hover
{
	background-color: #999999;
}

#u190:active
{
	background-color: #6B6B6B;
}

#u150
{
	border-color: #3F0000;
	background-color: #6D1C24;
	position: relative;
}

#u190.MuseMenuActive,#u150:hover
{
	background-color: #999999;
}

#u150:active
{
	background-color: #6B6B6B;
}

#u135,#u189,#u149,#u169
{
	background-color: transparent;
	position: relative;
}

#u170
{
	border-color: #3F0000;
	background-color: #6D1C24;
	position: relative;
}

#u150.MuseMenuActive,#u170:hover
{
	background-color: #999999;
}

#u170:active
{
	background-color: #6B6B6B;
}

#u170.MuseMenuActive
{
	background-color: #999999;
}

#u141-4,#u192-4,#u152-4,#u172-4
{
	position: relative;
}

#u141-4_clip,#u192-4_clip,#u152-4_clip,#u172-4_clip
{
	overflow: hidden;
	vertical-align: top;
}

#u141-4_img,#u192-4_img,#u152-4_img,#u172-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

