#menuu134
{
	border-color: #000000;
	background-color: transparent;
}

#u138
{
	border-color: #3F0000;
	background-color: #6D1C24;
	border-radius: 6px;
}

#u138:hover
{
	background-color: #FBB03B;
	border-radius: 6px;
}

#u138:active
{
	background-color: #FBB03B;
}

#u141
{
	vertical-align: top;
	background: url("../images/u141.png") no-repeat 0px 0px;
}

#u138:hover #u141
{
	background: url("../images/u141-r.png") no-repeat 0px 0px;
}

#u138:active #u141
{
	background: url("../images/u141-m.png") no-repeat 0px 0px;
}

#u138.MuseMenuActive #u141
{
	background: url("../images/u141-a.png") no-repeat 0px 0px;
}

#u190
{
	border-color: #3F0000;
	background-color: #6D1C24;
	border-radius: 6px;
}

#u138.MuseMenuActive,#u190:hover
{
	background-color: #FBB03B;
	border-radius: 6px;
}

#u190:active
{
	background-color: #FBB03B;
}

#u192
{
	vertical-align: top;
	background: url("../images/u192.png") no-repeat 0px 0px;
}

#u190:hover #u192
{
	background: url("../images/u192-r.png") no-repeat 0px 0px;
}

#u190:active #u192
{
	background: url("../images/u192-m.png") no-repeat 0px 0px;
}

#u190.MuseMenuActive #u192
{
	background: url("../images/u192-a.png") no-repeat 0px 0px;
}

#u150
{
	border-color: #3F0000;
	background-color: #6D1C24;
	border-radius: 6px;
}

#u190.MuseMenuActive,#u150:hover
{
	background-color: #FBB03B;
	border-radius: 6px;
}

#u150:active
{
	background-color: #FBB03B;
}

#u152
{
	vertical-align: top;
	background: url("../images/u152.png") no-repeat 0px 0px;
}

#u150:hover #u152
{
	background: url("../images/u152-r.png") no-repeat 0px 0px;
}

#u150:active #u152
{
	background: url("../images/u152-m.png") no-repeat 0px 0px;
}

#u150.MuseMenuActive #u152
{
	background: url("../images/u152-a.png") no-repeat 0px 0px;
}

#u135,#u189,#u149,#u169
{
	background-color: transparent;
}

#u170
{
	border-color: #3F0000;
	background-color: #6D1C24;
	border-radius: 6px;
}

#u150.MuseMenuActive,#u170:hover
{
	background-color: #FBB03B;
	border-radius: 6px;
}

#u170:active
{
	background-color: #FBB03B;
}

#u170.MuseMenuActive
{
	background-color: #FBB03B;
	border-radius: 6px;
}

#u172
{
	vertical-align: top;
	background: url("../images/u172.png") no-repeat 0px 0px;
}

#u170:hover #u172
{
	background: url("../images/u172-r.png") no-repeat 0px 0px;
}

#u170:active #u172
{
	background: url("../images/u172-m.png") no-repeat 0px 0px;
}

#u170.MuseMenuActive #u172
{
	background: url("../images/u172-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

