.version.products /* version checker */
{
	color: #000013;
	background-color: #309B0C;
}

.html
{
	background: #291E2E url("../images/water.jpg") repeat left top;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #888163;
	background-color: #3A364B;
	background-color: rgba(21,16,41,0.84);
	margin-left: auto;
	margin-right: auto;
}

#page::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: inset 0px 0px 67px rgba(179,0,110,0.26), inset 0px 0px 67px rgba(179,0,110,0.26);
	top: 36px;
	bottom: 36px;
	width: 960px;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 426px;
	width: 0.01px;
}

#menuu242
{
	z-index: 2;
	width: 916px;
	margin-left: 20px;
}

#u257
{
	width: 227px;
	min-height: 54px;
	margin-right: -10000px;
}

#u260
{
	width: 227px;
	padding-bottom: 18px;
}

#u260:hover
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u260:active
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u264
{
	width: 227px;
	min-height: 54px;
	margin-right: -10000px;
	left: 229px;
}

#u267
{
	width: 227px;
	padding-bottom: 18px;
}

#u260.MuseMenuActive,#u267:hover
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u267:active
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u267.MuseMenuActive
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u261-4_clip,#u268-4_clip
{
	width: 227px;
	height: 36px;
}

#u243
{
	width: 228px;
	min-height: 54px;
	margin-right: -10000px;
	left: 458px;
}

#u244
{
	width: 228px;
	padding-bottom: 18px;
}

#u244:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u244:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u250
{
	width: 228px;
	min-height: 54px;
	margin-right: -10000px;
	left: 688px;
}

#u253
{
	width: 228px;
	padding-bottom: 18px;
}

#u244.MuseMenuActive,#u253:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u253:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u253.MuseMenuActive
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u245-4_clip,#u255-4_clip
{
	width: 228px;
	height: 36px;
}

#u261-4,#u268-4,#u245-4,#u255-4
{
	margin-right: -10000px;
	top: 9px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

